<section class="p-4">
  <h1 class="text-4xl font-bold">Pipes Personalizados</h1>
  <h2 class="text-xl font-light">Pipes incluidos en angular</h2>

</section>

<div class="stats shadow w-[25%] text-center">
  <div class="stat">
    <div class="stat-title">Nombre</div>
    <div class="stat-value">{{name() | toggleCase: valueForToggle() }}</div>
    <button class="btn btn-primary" (click)="toggleValue()">Toggle Case Pipe</button>
  </div>
</div>

<div class="divider my-2"></div>
<h1 class="p-2 text-3xl font-bold">Tabla de contenido para pipes personalizados</h1>

<section class="flex flex-row w-full my-2 gap-2 justify-end items-center">
  <button (click)="sortBy.set('name')" class="btn btn-primary md:btn-md btn-sm">Por nombre</button>
  <button (click)="sortBy.set('canFly')" class="btn btn-secondary sm:btn-md btn-sm">Por volar</button>
  <button (click)="sortBy.set('color')" class="btn btn-success sm:btn-md btn-sm">Por color</button>
  <button (click)="sortBy.set('creator')" class="btn btn-warning  sm:btn-md btn-sm">Por creador</button>
</section>



<div class="overflow-x rounded-box border border-base-content/5 bg-base-100 p-2 ">
  <table class="table table-xs w-full">
    <!-- head -->
    <thead>
      <tr>
        <th>id</th>
        <th>Nombre</th>
        <th>Puede volar</th>
        <th>Color</th>
        <th>Creador</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->

      @for (hero of heroes() | heroSortBy: sortBy(); track $index) {

        <tr>
          <th>{{hero.id}}</th>
          <td>{{hero.name}}</td>
          <td>
            <span class="text-xs w-44"
            [class.text-success]="hero.canFly"
            [class.text-warning]="!hero.canFly">
              {{hero.canFly | canFly}}
            </span>
          </td>
          <td>
            <span [style.color] ="hero.color | colorText">
              {{ hero.color | heroColor}}
            </span>

          </td>
          <th>{{hero.creator | heroCreator }}</th>
        </tr>
      }

    </tbody>
  </table>
</div>
