<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
  <div class="stat">
    <div class="stat-title">Decimal Pipe</div>
    <div class="stat-value">{{genericNumber() | number:'1.1-1'}}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Percent Pipe</div>
    <div class="stat-value">{{genericNumber()/100 | percent}}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Currency Pipe</div>
    <div class="stat-value">{{genericNumber() | currency: "CLP" : "symbol-narrow"}}</div>
  </div>
</div>
